.nav-btn {
  border: none;
  border-radius: 50%;
  padding: clamp(1rem, 1.5vh, 2rem);

  background-color: var(--accent-color);

  outline: none;
}

.add-btn {
  position: fixed;
  bottom: clamp(3rem, 5vh, 5rem);
  right: clamp(4rem, 10vw, 10rem);

  border: .1rem solid var(--light-color);
  border-radius: 50%;
  padding: clamp(1rem, 1.5vh, 2rem);

  background-color: var(--dark-color);

  cursor: pointer;
  z-index: 99;
  outline: none;
}

.overlay-btn {
  padding: clamp(1rem, 2vh, 2rem);
  border: .1rem solid var(--dark-color);
  border-radius: 0;

  background-color: var(--light-color);
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  color: var(--dark-color);

  cursor: pointer;
  outline: none;

  transition: background-color 150ms ease-in, color 150ms ease-in;

  &:first-of-type {
    margin-right: 2rem;
  }

  &:hover {
    border: .1rem solid var(--light-color);
    background-color: var(--dark-color);
    color: var(--light-color);
  }
}
