.app {
  position: relative;

  min-height: 100vh;
  height: auto;

  display: grid;
  grid-template-rows: clamp(7rem, 10vh, 10rem) minmax(min-content, max-content);

  background-color: var(--accent-color);
}

