.header {
  padding: 0 clamp(1.6rem, 4vw, 5rem);
  border: none;
  border-bottom-left-radius: 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--dark-color);

  &__title {
    font-size: clamp(2.2rem, 4vw, 2.8rem);
    color: var(--light-color)
  }

  &__img {
    width: clamp(4rem, 5vw, 5rem);
    height: clamp(4rem, 5vw, 5rem);

    color: var(--light-color);
    pointer-events: none;
  }
}

