.header {
  width: 100vw;
  height: clamp(7rem, 10vh, 10rem);
  padding: 0 clamp(4rem, 10vw, 10rem);
  border: none;
  border-bottom-left-radius: 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--dark-color);

  &__title {
    font-size: clamp(2.2rem, 4vw, 2.8rem);
    color: var(--light-color)
  }

  &__btn {
    cursor: pointer;
  }

  &__img {
    width: clamp(3.3rem, 4vw, 4rem);
    height: clamp(3.3rem, 4vw, 4rem);

    fill: var(--light-color);
  }
}

