.reading-list {
  height: auto;
  padding: 0 clamp(4rem, 10vw, 10rem);
}

.reading-list-empty {
  min-height: calc(100vh - clamp(7rem, 10vh, 10rem));
  margin: 0 auto;
  padding: 0 clamp(2rem, 5vw, 5rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: clamp(7rem, 10vh, 10rem);

    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--light-color);
    text-align: center;
  }

  &__img {
    width: clamp(20rem, 40vw, 35rem);
    height: clamp(33.5rem, 50vh, 60rem);

    .book {
      path:not(:last-child) {
        fill: var(--petal-color);
      }
    }

    .pot {
      &__base {
        fill: var(--pot-color);
      }

      &__petals {
        fill: var(--petal-color);
      }
    }

    // Animation for each book
    #left-tilted-book {
      opacity: 0;
      animation: firstBook 6000ms ease-in forwards;
    }
    #first-center-book {
      opacity: 0;
      animation: secondBook 5000ms ease-in 1000ms forwards;
    }
    #right-book {
      opacity: 0;
      animation: thirdBook 4000ms ease-in 2000ms forwards;
    }
    #left-book {
      opacity: 0;
      animation: fourthBook 3000ms ease-in 3000ms forwards;
    }
    #second-center-book {
      opacity: 0;
      animation: fifthBook 2000ms ease-in 4000ms forwards;
    }
    #right-tilted-book {
      opacity: 0;
      animation: sixthBook 1000ms ease-in 5000ms forwards;
    }
  }
}

// Different keyframes so the books appear one after another
// Second argument denotes at which point should the book appear
@include animateBooks(firstBook, 16.66%);
@include animateBooks(secondBook, 20%);
@include animateBooks(thirdBook, 25%);
@include animateBooks(fourthBook, 33.33%);
@include animateBooks(fifthBook, 50%);
@include animateBooks(sixthBook, 100%);

