// Using CSS variables as they get processed as is

// Make sure to use these variables for colors
// instead of scss variables throughout the app
.dark {
  --light-color: #FFFFFF;
  --dark-color: #000000;
  --accent-color: #524848;
  --accent-color-rgb: 62, 54, 54;
  --pot-color: #CDCDCD;
  --petal-color: #D72323;

  transition: background-color 300ms ease-in, color 300ms ease-in;
}

.light {
  --light-color: #D72323;
  --dark-color: #FFFFFF;
  --accent-color: #CDCDCD;
  --accent-color-rgb: 205, 205, 205;
  --pot-color: #524848;
  --petal-color: #FFFFFF;

  transition: background-color 300ms ease-in, color 300ms ease-in;
}

// CSS Transition classes for react-transition-group
.scale {
  &-enter {
    transform: scale(0);
  }
  &-enter-active {
    transform: scale(.5);
    transition: transform 300ms ease-in;
  }
  &-enter-done {
    transform: scale(1);
  }
  &-exit {
    transform: scale(1);
  }
  &-exit-active {
    transform: scale(.5);
    transition: transform 300ms ease-in;
  }
  &-exit-done {
    transform: scale(0);
  }
}

.fade {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: .5;
    transition: opacity 200ms ease-in;
  }
  &-enter-done {
    opacity: 1;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: .5;
    transition: opacity 200ms ease-in;
  }
  &-exit-done {
    opacity: 0;
  }
}

.rotate {
  &-enter {
    transform: rotate(0);
  }
  &-enter-active {
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
  }
  &-enter-done {
    transform: rotate(180deg);
  }
  &-exit {
    transform: rotate(180deg);
  }
  &-exit-active {
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
  }
  &-exit-done {
    transform: rotate(0);
  }
}

.slide-left {
  &-enter {
    transform: translateX(-100%);
  }
  &-enter-active {
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
  }
  &-enter-done {
    transform: translateX(0);
  }
  &-exit {
    transform: translateX(0);
  }
  &-exit-active {
    transform: translateX(100%);
    transition: transform 200ms ease-in-out;
  }
  &-exit-done {
    transform: translateX(100%);
  }
}

