// Using CSS variables as they get processed as is

// Make sure to use these variables for colors
// instead of scss variables throughout the app
.dark {
  --light-color: #FFFFFF;
  --dark-color: #000000;
  --accent-color: #524848;
  --accent-color-rgb: 62, 54, 54;
  --pot-color: #CDCDCD;
  --petal-color: #D72323;
}

.light {
  --light-color: #D72323;
  --dark-color: #FFFFFF;
  --accent-color: #CDCDCD;
  --accent-color-rgb: 205, 205, 205;
  --pot-color: #524848;
  --petal-color: #FFFFFF;
}
